<ul class="button-group">
  <li><%= link_to 'New Board', new_board_path, class: 'small button' %></li>
</ul>

<table>
  <thead>
    <tr>
      <th>Board</th>
      <th>Description</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %></td>
        <td><%= board.description %></td>
        <td><%= board.event %></td>
      </tr>
    <% end %>
  </tbody>
</table>
